<appSettings>
  <add key="URL" value="http://www.demoqa.com/"/>
  <add key="TestDataSheetPath" value="D:\SoftUni\QA Automation - March 2017\03. QA\Homework\HomeworkSeleniumDesignPatterns\DataDrivenTests"/>
  <add key="RelativeTestDataSheetPath" value="DataDrivenTests"/>
  <add key="Logs" value="D:\SoftUni\QA Automation - March 2017\03. QA\Homework\HomeworkSeleniumDesignPatterns\Logs"/>
  <add key="RelativeLogs" value="Logs"/>
</appSettings>